# NextAuth (Auth.js v5)
AUTH_SECRET=сгенерируй-через-openssl-rand-base64-32
AUTH_GITHUB_ID=твой_github_oauth_app_id
AUTH_GITHUB_SECRET=твой_github_oauth_app_secret

# URL приложения
NEXTAUTH_URL=http://localhost:3000
